@using epam_asp_task.ViewModels
@using epam_asp_task.Infrastructure
@model InquirerViewModel

@using (Html.BeginForm("InquirerForm", "Inquirer", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.ValidationSummary()
            @Html.HiddenFor(i => i.Name)

            @Html.RenderInquirer(Model)
        </div>
        <div class="panel-footer">
            <p><button type="submit" class="btn btn-default">Submit Inquirer</button></p>
        </div>
    </div>
}