@using epam_asp_task.Infrastructure
@using epam_asp_task.Models
@model List<Article>

@{
    ViewBag.Title = "CooBlog - Articles";
}

@{ Html.RenderAction("Search", "Home"); }

@foreach (var article in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>@article.Name</h1>
        </div>
        <div class="panel-body">
            <p>@article.Content</p>
            <hr />
            <p>@article.PublicationDate</p>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Full article", "Article", "Article", new { articleId = article.Id }, new { @class = "btn btn-default" })
        </div>
    </div>
}