@using epam_asp_task.Models
@model Article

<script type="text/javascript">
    $(function () {
        $("#Name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Home/Search',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#articleId").val(i.item.val);
            },
            minLength: 1
        });
    });
</script>
@using (Html.BeginForm("Article", "Article"))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Search article by name</p>
        </div>
        <div class="panel-body">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            <input type="hidden" id="articleId" name="articleId" />
        </div>
        <div class="panel-footer">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
