@using epam_asp_task.Models
@model List<Feedback>

@{
    ViewBag.Title = "Feedback";
}

@foreach (var feedback in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>@feedback.Author</h1>
        </div>
        <div class="panel-body">
            <p>@feedback.Content</p>
        </div>
        <div class="panel-footer">
            <p>@feedback.PublicationDate</p>
        </div>
    </div>
}

@{Html.RenderAction("FeedbackForm");}
